body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.game-container {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

#upgrades {
  margin-top: 20px;
}
.flying-number {
  position: absolute;
  font-size: 24px;
  color: green;
  animation: fly-up 1s linear;
  pointer-events: none;
}

@keyframes fly-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
